{{> navigation}}
<h1>Home</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum et vitae suscipit nemo quos voluptatum dignissimos
  rem voluptate neque veniam, enim iure iusto quia eligendi sequi in placeat quam! Neque.</p>