* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition-duration: .3s;
}

:root {
  --main-color: rgba(38, 132, 255, 1);
  --main-color-transparent: rgba(38, 132, 255, 0.6);
  --main-color-strong: rgb(0, 110, 255);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-color);
}

div.form {
  margin: 20vh auto 0 auto;
  padding: 1em;
  max-width: 400px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}

div.form h1 {
  text-align: center;
  padding-bottom: .2em;
  color: var(--main-color);
}

div.form hr {
  border-color: var(--main-color);
  margin-bottom: 1em;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

label#password {
  position: relative;
}

i.fa-eye,
i.fa-eye-slash {
  position: absolute;
  right: .6em;
  top: 50%;
  transform: translateY(25%);
  color: #333;
  z-index: 2;
  cursor: pointer;
}

input {
  margin-top: .2em;
  padding: .6em .4em;
  border: 2px solid var(--main-color-transparent);
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-color: var(--main-color);
}

input[type="submit"] {
  margin-top: 1em;
  padding: .6em 2em;
  align-self: flex-end;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: var(--main-color-transparent);
}

a {
  color: var(--main-color);
}

a:visited {
  color: var(--main-color-strong);
}

a:focus {
  color: var(--main-color-transparent);
  outline: none;
}